---
import "./style.less";
import CountDown1 from "@imgs/countdown-1.png";
import CountDown2 from "@imgs/countdown-2.png";
---

<div class="countdown">
  <img src={CountDown1} alt="countdown-image-1" />
  <span>70,000 lessons taught</span>
  <span>40,000+ students enrolled</span>
  <span>11 languages</span>
  <img src={CountDown2} alt="countdown-image-2" />
</div>
