---
import "./style.less";
---

<div class="cta">
  <div class="cta__tags">
    <span>Thinking about</span>
    <span>language learning?</span>
  </div>
  <div class="cta__content">
    <p>
      Learn a language right here with hundreds of free language-learning
      lessons. Get access to compact lessons from the experts and connect with a
      community of native speakers to help you master words faster.
    </p>
    <div class="cta__content__btn">
      <select>
        <option value="Spanish">Spanish</option>
      </select>
      <button>Start Learning</button>
    </div>
  </div>
</div>
