@import "@variables";

.about {
  margin: 170px 135px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;

    &__text {
      max-width: 600px;

      h1 {
        font-size: 46px;
        font-weight: 700;
        color: @green-text;
      }

      span {
        color: @bg-green;
      }

      p {
        color: @gray-text;
      }
    }
  }
}
