---
import "./style.less";
import Logo from "@imgs/logo.png";
---

<nav class="nav">
  <div class="nav__logo">
    <img src={Logo} alt="" />
  </div>
  <ul class="nav__bar">
    <li>How it works</li>
    <li>Reviews</li>
    <li>Live Lesson</li>
    <li>Pricing</li>
  </ul>
  <div class="nav__btn">
    <button class="nav__btn--secondary">Login</button>
    <button class="nav__btn--primary">Sign Up</button>
  </div>
</nav>
