---
import "./style.less";
import SocialFbImg from "@imgs/social_fb.png";
import SocialLinkedinImg from "@imgs/social_linkedin.png";
import SocialTwImg from "@imgs/social_tw.png";
---

<div class="footer">
  <div class="footer__1">
    <h1>Have any <span>questions</span>?</h1>
    <p>
      Visit our <span>FAQ page</span> or email us at <span
        >youremail@gmail.com.</span
      >
    </p>
  </div>
  <hr />
  <div class="footer__2">
    <div class="footer__2__col">
      <span>Dialect</span>
      <ul>
        <li>About us</li>
        <li>Careers</li>
        <li>Dialect Blog</li>
        <li>Press</li>
      </ul>
    </div>
    <div class="footer__2__col">
      <span>Learn More</span>
      <ul>
        <li>Learn English</li>
        <li>Learn French</li>
        <li>Learn Spanish</li>
        <li>Learn German</li>
        <li>Learn Russian</li>
        <li>Learn Italian</li>
        <li>Learn Portuguese</li>
        <li>Learn Turkish</li>
        <li>Learn Chinese</li>
        <li>Learn Arabic</li>
        <li>Learn Japanese</li>
      </ul>
    </div>
    <div class="footer__2__col">
      <span>Products</span>
      <ul>
        <li>Dialect</li>
        <li>Dialect for Bussiness</li>
        <li>Dialect Kids</li>
        <li>Dialect VR</li>
        <li>Dialect AR</li>
      </ul>
    </div>
    <div class="footer__2__col">
      <span>Support</span>
      <ul>
        <li>Contact</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Affiliate Program</li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer__3">
    <h1>Site language</h1>
    <div class="footer__3__language">
      <span>Română</span>
      <span>Français</span>
      <span>Español</span>
      <span>Deutsch</span>
      <span>Русский</span>
      <span>Italiano</span>
      <span>Français</span>
      <span>中文</span>
      <span>Čeština</span>
      <span>हिन्दी</span>
    </div>
    <div class="footer__3__content">
      <span>Copyright @UIHUT 2022</span>
      <div class="footer__3__content__social">
        <img src={SocialFbImg} alt="fb" />
        <img src={SocialLinkedinImg} alt="linkedin" />
        <img src={SocialTwImg} alt="tw" />
      </div>
    </div>
  </div>
</div>
